<div class="container">
  <h1>Estudiantes</h1>
  {{#unless isRegularView }}
  <a class="btn btn-primary" href="/addStudent">Agregar Estudiante</a>
  <a class="btn btn-success" href="/student/regulars/">Filtrar Regulares</a>
  <a class="btn btn-success" href="/user/logout/">Cerrar Sesion</a>
  {{/unless}}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Correo</th>
        <th scope="col">Regular</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#if students }}
      {{#each students}}
      <tr>
        <th scope="row">{{@key}}</th>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>
          {{#if this.isRegular}}
          Sí
          {{^}}
          No
          {{/if}}
        </td>
        <td>
          <a href="/posts/form/{{this._id}}" class="btn btn-primary">Crear Post</a>
        </td>
        <td>
          <a href="/student/getStudent/{{this._id}}" class="btn btn-light">Modificar</a>
        </td>
        <td>
          <form method="POST" action="/student/{{this._id}}?_method=DELETE">
            <button type="submit" class="btn btn-danger">Eliminar</button>
          </form>
        </td>
      </tr>
    </tbody>
    {{/each}}
    {{/if}}
  </table>
</div>